* {
	border: 1px solid;
}

body {
	background-color: #efebc2;
	font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman',  serif;
	margin: 0 auto;
	padding: 0;
}

ul {
	float: right;
}

ul span {
	overflow: hidden;
	width: 5px;

}
.stream-icon img {
	border-radius: 50%;
	max-height: 50px;
	max-width: 50px;
}